__pycache__

.history
.history/
.history/**/*.py
.*
!.cursorrules
!.env
!.gitignore
!.gitmodules
!.github
!.vscode
*.cpuprofile
*.egg-info*
*.exe.manifest
*.heapsnapshot
*.log
*.pkg
*.prof
*.pstat
*.pyc
*.spec
*.zip
*PYZ-*.pyz
/__main__.build/
/__main__.dist/
/__main__.onefile-build/
/.aider.tags.cache.v3
/.qtcreator
/Libraries/Utility/src/utility/ui_libraries/qt/adapters/filesystem/relevant_qt_src
/Libraries/Utility/src/utility/ui_libraries/qt/filesystem/common/deprecated
/Libraries/Utility/src/utility/ui_libraries/qt/filesystem/common/untested
/pyglm-2.8.2
/pykotor/gl/window.py
/toolset/help/
/vendor/DeNCS
Analysis-*.toc
analyze_profile_comprehensive.py
analyze_profile.py
analyze_tokens.py
base_library.zip
build
build-windows.ps1
CASE_INSENSITIVE_PATH_OPTIONS.md
COMPLETION_REPORT.md
debug_run.py
dist
dist-lin
dist-mac
dist-win
errorlog.txt
EXE-*.toc
ignore
installlog.txt
Libraries/Utility/.aider.model.settings.json
Libraries/Utility/src/utility/updater/update.py
logs/
logs/*
nuitka_dist
nwnnsscomp_full.py
nwnnsscomp_README.md
nwnnsscomp.py
output.prof
PKG-*.toc
powershell-bin/
pyinstaller.exe
pypy3.*-v*/
temp_assign_script.py
temp_debug_bp.py
temp_debug_bp2.py
temp_do_while.py
temp_fixed.py
temp_global_init.py
temp_global_unary.py
temp_inspect.py
temp_prefix_test.py
temp_test_compile.py
temp_trace_init.py
temp_trace_savebp.py
test_compile.pcode
test_manual.ncs
test_manual.nss
test_manual.pcode
test_nwnnsscomp.py
test_output/
tests/results/
tests/tmp/*
tests/tslpatcher/tmp/*
this file has no permissions.txt
Tools/HolocronToolset/src/toolset/32d802b_extract
Tools/HolocronToolset/src/toolset/uic
Tools/HoloPatcher/src/holopatcher/node_modules
Tools/HoloPatcher/src/holopatcher/package-lock.json
Tools/HoloPatcher/src/holopatcher/package.json
Tools/KotorDiff/INI_GENERATOR_README.md
Tools/KotorDiff/WINDOWS_PATH_GUIDE.md
Tree-*.toc
tslpatchdata/
typings/*
vendor/CHORD
vendor/KOTOR2-TOMB
vendor/kotormods
venv/
notes/plot_2da.txt
notes/plot_investigation.txt
/Libraries/Utility/src/utility/ui_libraries/qt/adapters/filesystem/relevant_qt_src
docs/ASYNC_LOADING_COMPLETE.md
/Libraries/Utility/src/utility/ui_libraries/qt/adapters/filesystem/relevant_qt_src
vendor/vendor_submodule_analysis.md
vendor/REVIEW_STATUS.md
vendor/PYKOTOR_VENDOR_REFERENCE_ANALYSIS.md


.history
.history/
.history/**/*.py */
tests/test_toolset/test_files/generated_kit
Tools/HolocronToolset/src/toolset/toolset_profile_20251129_215942.txt
Tools/HolocronToolset/src/toolset/toolset_profile_20251129_223427.txt
Tools/HolocronToolset/src/toolset/toolset_profile_20251130_053447.txt
Tools/HolocronToolset/src/toolset/toolset_profile_20251130_064247.txt
test_qfiledialog_results.txt
test/out.txt
