-r Tools/HoloPatcher/requirements.txt
-r Tools/HoloPatcher/recommended.txt
-r Libraries/PyKotor/requirements.txt
-r Libraries/PyKotor/recommended.txt
mypy
ruff
pylint
snakeviz
autoflake
pytest
pytest-xdist
pytest-html
aqtinstall
pytest-json-report
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability