#-r Tools/BatchPatcher/requirements.txt
-r Tools/HolocronToolset/requirements.txt
-r Tools/HoloPatcher/requirements.txt
-r Tools/KotorDiff/requirements.txt
-r Libraries/PyKotor/requirements.txt
mypy
pylint
snakeviz
autoflake
pytest
pytest-xdist
pytest-html
#aqtinstall
types-Pillow
types-Send2Trash
send2trash